.logo {
  width: 100px;
  height: auto;
  border-radius: 50%;
  margin: 10px;
  padding: 10px;
}

.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}

.nav-items > ul {
  display: flex;
  padding: 0px 20px;
  list-style: none;
  font-size: 22px;
}

.nav-items > ul > li {
  padding: 10px;
  margin: 10px;
}

.res-container {
  display: flex;
  flex-wrap: wrap;
}

.res-card {
  width: 200px;
  padding: 5px;
  margin: 5px;
  border-radius: 10px;
}

.res-card > img {
  height: 150px;
  border-radius: 10px;
}

/* .res-card > img:hover {
  padding: 10px;
} */

.res-card:hover {
  cursor: pointer;
  border: 1px solid black;
  box-shadow: 5px 7px #88888896;
}

.filter-btn {
  margin: 10px;
  /* padding: 10px;
  border: 1px solid black; */
  cursor: pointer;
}

.res-logo {
  width: 100%;
}
