.logo {
  width: 100px;
  height: auto;
  border-radius: 50%;
  margin: 10px;
  padding: 10px;
}

.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}

.nav-items > ul {
  display: flex;
  padding: 0px 20px;
  list-style: none;
  font-size: 22px;
}

.nav-items > ul > li {
  padding: 10px;
  margin: 10px;
}

.res-card {
  width: 200px;
  height: 350px;
  border: 1px solid black;
  box-shadow: 5px 10px #888888;
}